body {
  font-family: "News Cycle", sans-serif;
  color: orange;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.sw {
  transform: perspective(300px) rotateX(60deg);
  width: 50vh;
  opacity: 1;
  position: absolute;
  text-align: center;
}
.text {
  position: absolute;
  overflow: hidden;
 // display: none;

  animation-name: defilement;
  transition-timing-function: linear;
  animation-duration: 40s;
  animation-delay: 1s;
  animation-fill-mode: running;
}
h1 {
  font-size: 0px;
  opacity: 0;
  transform: scale(100);
  &:before {
    content: url('/logo.svg');
  }
    animation-name: apparition;
    transition-timing-function: cubic-bezier(.61,.35,.62,.5);
    transition-duration: 4s;
    transition-delay: 0s;
    animation-fill-mode: running;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes defilement {
  0% {
    display: block;
    top: 100vh;
    opacity: 1;
  }
  100% {
    opacity: .0;
    top: -100vh;
    display: none;
  }
}